<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <targets>
    <target name="LogFile" xsi:type="File" keepFileOpen="true"
            layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${newline}"
            fileName="${basedir}/logs/applog.${shortdate}.${level}.log"
            archiveFileName="${basedir}/logs/archives/applogs.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            enableArchiveFileCompression="true" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="NHibernate.SQL" minlevel="Debug" writeTo="LogFile" final="true" />
    <logger name="NHibernate.*" minlevel="Warn" writeTo="LogFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="LogFile" />
  </rules>
</nlog>
